Assets/Low-Poly_Mega_Pack/
Assets/Ilumisoft/
Assets/Palmov Island/
Assets/Sherbbs Particle Collection/
Assets/SimplePoly City - Low Poly Assets/
Assets/XR/
Assets/XRI/
Assets/Samples
Assets/Supercyan Character Pack Free Sample*

Library/
Temp/
Logs/
UserSettings/
obj/
.vs*
